INSERT INTO public.subscription_offers (name, description, price, duration_days, features) VALUES ('Básico', 'Plan gratuito para nuevos usuarios.', 0, 365, '[\
1
consulta
mensual\, \Tracking
básico\, \Chat
de
soporte\]') ON CONFLICT DO NOTHING;

-- Seed Plans
INSERT INTO public.subscription_offers (name, description, price, duration_days, features) 
VALUES ('Básico', 'Plan gratuito para nuevos usuarios.', 0, 365, '[\
1
consulta
mensual\, \Tracking
básico\, \Chat
de
soporte\]')
ON CONFLICT (id) DO NOTHING;

-- Update Trigger Function
create or replace function public.handle_new_user()
returns trigger as \$\$
declare
  new_profile_id uuid;
  new_patient_id uuid;
  basic_offer_id uuid;
begin
  insert into public.profiles (user_id, full_name, role, status)
  values (
    new.id,
    coalesce(new.raw_user_meta_data->>'full_name', new.email),
    coalesce(new.raw_user_meta_data->>'role', 'paciente'),
    case 
      when coalesce(new.raw_user_meta_data->>'role', 'paciente') = 'nutricionista' then 'Pendiente'
      else 'Activo'
    end
  ) returning id into new_profile_id;
  
  -- If role is paciente, also create patient record and subscription
  if coalesce(new.raw_user_meta_data->>'role', 'paciente') = 'paciente' then
    insert into public.patients (profile_id)
    values (new_profile_id)
    returning id into new_patient_id;
    
    -- Assign default Basic Plan
    select id into basic_offer_id from public.subscription_offers where price = 0 limit 1;
    if basic_offer_id is not null then
      insert into public.subscriptions (patient_id, offer_id, start_date, end_date, status, payment_status)
      values (new_patient_id, basic_offer_id, current_date, current_date + interval '1 year', 'active', 'paid');
    end if;
  end if;
  
  return new;
end;
\$\$ language plpgsql security definer;
